@media only screen and ( max-width:1056px){
    .logo{
        margin-left:60px ;
    }
    .nav-bar ul{
        margin:0px 10px 0px 0px;
    }
    .nav-bar ul li{
        margin: 0px 0px 0px 14px;
    }
    .nav-bar ul li a {
        margin: 0px 8px 0px 11px;
    } 
    .fa{
        margin: 4px 0px 80px -19px ;

    } 
    .intro_text{
        margin-left: 40px;
    }
    .hire{
        margin-left:70px ;
    }
    .font2{
        padding:0;
        margin: 0;
        margin-bottom: 20px;
        word-spacing: 4px;
    }
    .about_text{
        margin-top: 30px;
        margin-left: 455px;
    }
    .about .about_img{
        margin-left: 50px;
    }
}
@media only screen and ( max-width:903px){
    .about{
        display: grid;
        place-items: center;
        height: 810px;
    }
    .about .about_img{
        margin:0;
    }
    .about_text{
        margin-top: -20px;
        margin-left: 15px;
    }
    .about_para{
        margin: 15px 3px 28px 20px;
        font-size:25px ;
    }
}
@media only screen and ( max-width:525px){
    .about .about_img{
        height: 320px;
        width: 320px;
    }
    #gmail{
        font-size: 22px;
    }
}
@media only screen and (max-width:850px){
   .logo{
 margin-left:60px;
   }
  .bar{
      display: block;
   }  
    .nav-bar{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background-color: lightblue;
        transition: 0.3s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 750px;
        z-index: 100;
    }
    .nav-bar ul{
        float: none;
        display: grid;
        place-items: center;
        transition:all 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
        margin-top: 30px;
    }
    .nav-bar.active ul li{
        margin-top: 60px;
    }
  
} 
@media only screen and (max-width:720px){
    .intro{
        display: grid;
        place-items: center;
    }
    .intro_text{
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
    .intro_img{
        margin: 0;
        margin-top: 20px;
    }
    .hire{
        margin: 0;
    }
    #main{
        height: 1200px;
    }
}