@media only screen and ( max-width:1056px){
    .logo{
        
        margin-left:60px ;
    }
    nav ul{
        margin:0px 10px 0px 0px;
    }
    nav ul li{
        margin: 0px 0px 0px 14px;
    }
    ul li a {
        margin: 0px 8px 0px 11px;
    } 
    .fa{
        margin: 4px 0px 80px -19px ;

    } 
    .intro_text{
        margin-left: 40px;
    }
    .hire{
        margin-left:70px ;
    }
    
}
@media only screen and (max-width:850px){
   .logo{
 margin-left:70px;
   }
  .bar{
       display: block;
   }  
   /* .bar:hover, nav ul{
       flex-direction: column;
       display: flex;
       width: 100%;
       height: 450px;
       background-color: black;
    margin-top: 0px;
    position: relative;
    z-index: 99;
    text-align: center;
   } */
}
@media only screen and (max-width:705px){
    .intro{
        display: grid;
        place-items: center;
    }
    .intro_text{
        margin-top: 20px;
    }
    
}